.ipynb_checkpoints
__pycache__
.vscode
*.ipynb

src/build
src/*.old
soc-eval/datasets/*
soc-eval/*.ipynb
soc-eval/models/*
soc-eval/.ipynb_checkpoints
soc-eval/__pycache__
soc-eval/.vscode
soc-eval/logs
soc-eval/notebooks/*

!soc-eval/datasets/.gitkeep
!soc-eval/models/.gitkeep 
!soc-eval/notebooks/.gitkeep 
